[project]
name = "manipulador-pdf-v6"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pillow>=11.3.0",
    "pyinstaller>=6.15.0",
    "pymupdf>=1.26.4",
]
